@import url(https://vladislavaa.github.io/maxi-corporate/style/reset.css);
@import url(https://vladislavaa.github.io/maxi-corporate/style/normalize.css);

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

.container {
  width: 1920px;
  margin: 0 auto;
}

.header {
  height: 118px;
}

.header__burger-menu {
  display: none;
}

.header__contacts {
  height: 39px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1px;
  padding-left: 160px;
  padding-right: 160px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.52px;
  color: #676f7b;
  background-color: #f8f8f8;
}

.header__address {
}

.header__contact {
  display: flex;
  align-items: center;
}

.header__icon-email {
  margin-top: 2px;
}

.header__email {
  margin-left: 7px;
  margin-right: 41px;
  text-decoration: none;
  color: #676f7b;
}

.header__phone {
  text-decoration: none;
  color: #676f7b;
}

.header__icon-phone {
  margin-right: 5px;
  margin-bottom: 1px;
}

.header__tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 27px;
  padding-left: 160px;
  padding-right: 160px;
}

.hedaer__nav-bar {
  width: 727px;
  margin-right: 131px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 1px;
}

.header__nav-item {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  text-decoration: none;
  color: #232e40;
}

.header__nav-item.active {
  position: relative;
}

.header__nav-item.active::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: 260px;
  width: 85.49px;
  height: 30px;
  background-color: #f2f3f3;
  border-radius: 3px;
  z-index: -1;
}

.header__search {
  position: relative;
  left: 102px;
}

.header__btn {
  width: 118px;
  height: 40px;
  position: relative;
  left: 77px;
  bottom: 1px;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #ffffff;
  background-color: #092858;
}

.header__selection {
  width: 60px;
  height: 40px;
  position: relative;
  bottom: 1px;
  border-radius: 3px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("https://vladislavaa.github.io/maxi-corporate/img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position: calc(100% - 16px) center;
  padding-left: 13px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #232e40;
  background-color: #f2f3f3;
}

.section-experts {
  height: 677px;
  padding-top: 49px;
  padding-left: 160px;
}

.section-experts__breadcrumbs {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 12px;
  line-height: 28px;
  color: #676f7b;
}
.section-experts__breadcrumb {
  color: #676f7b;
}
.section-experts__current_page {
}

.section-experts__line {
  position: relative;
  top: 40px;
  display: inline-block;
  width: 38px;
  border-radius: 1px;
  border-top: 1px solid #232e40;
}

.section-experts__title {
  position: relative;
  top: 51px;
  margin-left: 9px;
  display: inline-block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 34px;
  line-height: 24px;
  color: #232e40;
}

.section-experts__nav-bar {
  width: 780px;
  margin-top: 102px;
  margin-left: 62px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 1px;
}
.section-experts__nav-item {
  padding-left: 6px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  text-decoration: none;
  color: #232e40;
}

.section-experts__nav-item_position-1 {
  position: relative;
  left: 3px;
}

.section-experts__nav-item.active {
  color: #ffffff;
  position: relative;
}

.section-experts__nav-item.active::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -10px;
  width: 141px;
  height: 30px;
  background-color: #70bd54;
  border-radius: 3px;
  z-index: -1;
}

.section-experts__btns {
  width: 113px;
  height: 50px;
  position: relative;
  left: 1486px;
  bottom: 39px;
  display: flex;
  justify-content: space-between;
}

.section-experts__btn-up {
  width: 50px;
  height: 50px;
  padding-top: 5px;
  padding-right: 0px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.section-experts__btn-after {
  width: 50px;
  height: 50px;
  padding-top: 4px;
  padding-left: 3px;
  border-radius: 50%;
  background-color: #f0f0f0;
}

.section-experts__cards {
  width: 1600px;
  margin-top: 9px;
  margin-left: 1px;
  display: flex;
  justify-content: space-between;
}

.section-experts__card {
  width: 288px;
  height: 283px;
  text-align: left;
}

.section-experts__name {
  position: relative;
  top: 15px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 18px;
  line-height: 26px;
  color: #303e48;
}

.section-experts__job-title {
  position: relative;
  top: 16px;
  display: block;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 26px;
  color: #303e48;
}

.section-map {
  width: 100%;
  height: 931px;
  padding-top: 104px;
  padding-left: 159px;
  margin-top: -2px;
  background-color: #092858;
  background-image: url("https://vladislavaa.github.io/maxi-corporate/img/map.svg");
  background-repeat: no-repeat;
  background-position: 10% 40%;
}

.section-map__background-image {
  display: none;
}

.section-map__line {
  display: inline-block;
  width: 38px;
  margin-bottom: 11px;
  margin-left: 1px;
  border-radius: 1px;
  border-top: 1px solid #ffffff;
}

.section-map__title {
  display: inline-block;
  margin-left: 9px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 34px;
  line-height: 24px;
  color: #ffffff;
}

.section-map__subtitle {
  margin-top: 23px;
  margin-left: 52px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffffb3;
}

.section-map__switches {
  width: 220.43px;
  height: 116.05px;
  margin-top: 78px;
  margin-left: 52px;
}

.section-map__switch {
  width: 220.43px;
  height: 46.05px;
  padding-bottom: 21px;
  text-align: left;
  border-radius: 3px;
  border-bottom: 1px solid #ffffff80;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff80;
}

.section-map__switch:first-child {
  margin-bottom: 23.95px;
}

.section-map__switch-active {
  color: #ffffff;
  border-bottom: 1px solid #ffffff;
}

.section-map__icon {
  margin-top: 7px;
  margin-left: 67px;
}

.section-map__icon-active {
  margin-left: 64px;
}

.section-map__description {
  margin-left: 52px;
  margin-top: 292px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffffb3;
}

.section-map__btn-download {
  width: 372.43px;
  height: 59.12px;
  padding-left: 17px;
  margin-top: 37.5px;
  margin-left: 52px;
  border-radius: 3px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  background-color: #70bd54;
}

.section-map__btn-download-icon {
  position: relative;
  top: 1px;
  right: 19px;
}

.section-map__crushing {
  width: 175px;
  height: 139px;
  position: relative;
  left: 1429px;
  bottom: 139px;
}

.section-map__crushing-caption {
  margin-top: 6px;
  margin-left: 5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #70bd54;
}

.section-map__crushing-title {
  position: relative;
  bottom: 6px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-size: 85px;
  line-height: 102.87px;
  color: #ffffff;
}

.section-map__crushing-subtitle {
  position: relative;
  left: 2px;
  bottom: 12px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}

.section-filter {
  width: 1040.5px;
  height: 96px;
  display: flex;
  margin-top: 72px;
  margin-left: 448px;
}

.section-filter__nav-bar {
  width: 1040.5px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.section-filter__nav-item {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #232e40;
}

.section-filter__nav-item.active {
  color: #ffffff;
  position: relative;
}

.section-filter__nav-item.active::before {
  content: "";
  position: absolute;
  bottom: -6px;
  left: -17px;
  width: 60px;
  height: 30px;
  background-color: #70bd54;
  border-radius: 3px;
  z-index: -1;
}

.section-addresses {
  height: 2423px;
}

.section-addresses__line {
  width: 1920px;
  border-radius: 1px;
  border-top: 1px solid #dcdcdc;
}

.section-addresses__card {
  margin-top: 41px;
  margin-left: 438px;
  margin-bottom: 40px;
  display: flex;
  align-items: center;
}

.section-addresses__img {
  border-radius: 5px;
}

.section-addresses__address {
  width: 460px;
  height: 105px;
  margin-left: 30px;
}

.section-addresses__title {
  position: relative;
  bottom: 5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-size: 24px;
  line-height: 29.05px;
  color: #232e40;
}

.section-addresses__subtitle {
  position: relative;
  top: 5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #232e40;
}

.section-addresses__contacts {
  margin-left: 215px;
}

.section-addresses__contact-phone {
}

.section-addresses__icon-phone {
  position: relative;
  bottom: 3px;
}

.section-addresses__phone {
  position: relative;
  left: 8px;
  bottom: 7px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #232e40;
}

.section-addresses__contact-email {
}

.section-addresses__icon-email {
  position: relative;
  top: 10px;
}

.section-addresses__email {
  position: relative;
  left: 8px;
  top: 6px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 16px;
  line-height: 19.36px;
  color: #232e40;
}

.footer {
  width: 1600px;
  height: 440px;
  display: flex;
  flex-direction: column;
  padding-top: 66px;
  padding-left: 160px;
}

.footer__line-one {
  display: flex;
}

.footer__logo_mobile {
  display: none;
}

.footer__column-one {
}

.footer__icon-block {
  margin-top: 115px;
  margin-left: 2px;
}

.footer__icon-1 {
}

.footer__icon-2 {
  margin-top: 1px;
  margin-left: 7px;
}

.footer__icon-3 {
  margin-top: 1px;
  margin-left: 7px;
}

.footer__icon-4 {
  margin-top: -2px;
  margin-left: 3px;
}

.footer__line_mobile {
  display: none;
}

.footer__column-two {
}

.footer__nav {
  position: relative;
  margin-top: 2px;
  left: 190px;
}

.footer__nav-item {
  margin-bottom: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #5d646f;
}

.footer__nav-item_position-1 {
  position: relative;
  bottom: 3px;
}

.footer__nav-item_position-1 {
  margin-top: 2px;
}

.footer__nav-item_title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.15px;
  color: #232e40;
}

.footer__nav-link {
  color: #5d646f;
}

.footer__nav-link_title {
  color: #232e40;
}

.footer__column-third {
  position: relative;
  left: 114px;
}

.footer__column-fourth {
  position: relative;
  left: 482px;
  margin-top: 2px;
}

.footer__contacts {
}

.footer__contact-item {
}

.footer__contact-item_title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.15px;
  color: #232e40;
}

.footer__icon-phone {
  margin-top: 32px;
  margin-left: 1px;
}

.footer__phone {
  position: relative;
  top: 25px;
  margin-left: 5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 30px;
  line-height: 36.31px;
  color: #232e40;
}

.footer__icon-email {
  margin-top: 49px;
}

.footer__email {
  position: relative;
  top: 45px;
  margin-left: 7px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #5d646f;
}

.footer__icon-address {
  margin-top: 30px;
  margin-left: -2px;
}

.footer__address {
  position: relative;
  top: 25px;
  margin-left: 5px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: #5d646f;
}

.footer__address_position {
  position: relative;
  bottom: 20px;
  margin-left: 22px;
}

.footer__address_mobile {
  display: none;
}

.footer__column-five {
  position: relative;
  top: 2px;
  left: 619px;
}

.footer__social {
}

.footer__social-item {
}

.footer__social-item_title {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-size: 15px;
  line-height: 18.15px;
  color: #232e40;
}

.footer__social-block-icon {
  margin-top: 20px;
}

.footer__social-icon {
  margin-right: 6px;
}

.footer__social-block-qr {
  display: flex;
  margin-top: 37px;
}

.footer__social-qr-2 {
  position: relative;
  left: 13px;
}

.footer__line {
  display: block;
  width: 1600px;
  margin-bottom: 24px;
  margin-top: 55px;
  border-radius: 1px;
  border-top: 1px solid #dfdfdf;
}

.footer__info {
  display: flex;
  justify-content: space-between;
}

.footer__copyright {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #9ba1ab;
}

.footer__links {
  display: flex;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
}

.footer__link {
  position: relative;
  right: 38px;
  color: #9ba1ab;
}

.footer__link_position-2 {
  position: relative;
  right: 3px;
}

.footer__link_position-3 {
  position: relative;
  left: 30px;
}

.footer__link_position-4 {
  position: relative;
  left: 64px;
}

.footer__dev {
  position: relative;
  left: 294px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-size: 15px;
  line-height: 18.15px;
  color: #9ba1ab;
}

.footer__dev-icon {
  position: relative;
  bottom: 1px;
  left: 160px;
}

@media (max-width: 376px) {
  .container {
    width: 375px;
    margin: 0 auto;
  }

  .header {
    height: 87px;
  }

  .header__burger-menu {
    display: block;
    margin-bottom: 1px;
  }

  .header__icon-email {
    margin-top: 3px;
  }

  .header__contacts {
    height: 39px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1px;
    padding-left: 20px;
    padding-right: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 14.52px;
    color: #676f7b;
    background-color: #f8f8f8;
  }

  .header__phone {
    position: relative;
    top: 1px;
    right: 14px;
    text-decoration: none;
    color: #676f7b;
  }

  .header__icon-phone {
    position: relative;
    top: 1px;
    right: 14px;
    margin-right: 5px;
    margin-bottom: 1px;
  }

  .header__address {
    display: none;
  }

  .header__tools {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 16px;
    padding-left: 20px;
    padding-right: 0px;
  }

  .header__logo {
    width: 115px;
    height: 32px;
    margin-top: -2px;
  }

  .hedaer__nav-bar {
    display: none;
  }

  .header__search {
    position: relative;
    left: 4px;
  }

  .header__btn {
    width: 92px;
    height: 40px;
    position: relative;
    left: -2px;
    bottom: 1px;
    border-radius: 3px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    color: #ffffff;
    background-color: #092858;
  }

  .header__selection {
    width: 51px;
    height: 40px;
    position: relative;
    right: 18px;
    bottom: 1px;
    border-radius: 3px;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("https://vladislavaa.github.io/maxi-corporate/img/icon-arrow.svg");
    background-repeat: no-repeat;
    background-position: calc(100% - 12px) center;
    padding-left: 11px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 18.15px;
    color: #232e40;
    background-color: #f2f3f3;
  }

  .section-experts {
    height: 2000px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }

  .section-experts__line {
    position: relative;
    top: 43px;
    display: inline-block;
    width: 28px;
    border-radius: 1px;
    border-top: 1px solid #232e40;
  }

  .section-experts__title {
    position: relative;
    top: 51px;
    margin-left: 9px;
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #232e40;
  }

  .section-experts__nav-bar {
    width: 335px;
    height: 70px;
    margin-top: 102px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 1px;
  }

  .section-experts__nav-item {
    margin-top: 0px;
    padding-left: 6px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 18.15px;
    text-decoration: none;
    color: #232e40;
  }

  .section-experts__nav-item_position-1 {
    position: relative;
    left: 0px;
  }

  .section-experts__nav-item.active::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: 0px;
    width: 101px;
    height: 30px;
    background-color: #70bd54;
    border-radius: 3px;
    z-index: -1;
  }

  .section-experts__btns {
    width: 113px;
    height: 50px;
    position: relative;
    top: 1650px;
    left: 110px;
    bottom: 0px;
    display: flex;
    justify-content: space-between;
  }

  .section-experts__cards {
    width: 325px;
    margin-top: 12px;
    margin-left: 25px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .section-experts__card {
    width: 288px;
    height: 283px;
    text-align: left;
    margin-bottom: 35px;
  }

  .section-map {
    width: 375px;
    height: 889px;
    padding-top: 56px;
    padding-left: 0px;
    margin-top: -2px;
    background-color: #092858;
    background-image: none;
    background-repeat: no-repeat;
    background-position: 42% 40%;
  }

  .section-map__line {
    display: inline-block;
    width: 28px;
    margin-bottom: 8px;
    margin-left: 20px;
    border-radius: 1px;
    border-top: 1px solid #ffffff;
  }

  .section-map__title {
    display: inline-block;
    margin-left: 9px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-size: 24px;
    line-height: 24px;
    color: #ffffff;
  }

  .section-map__background-image {
    display: block;
    height: 595px;
    margin-top: 95px;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }

  .section-map__background-image img {
    display: block;
    max-width: none;
  }

  ::-webkit-scrollbar {
    height: 6.03px;
  }

  ::-webkit-scrollbar-thumb {
    width: 142.88px;
    background-color: #1f437c;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-track {
    margin-left: 21px;
    margin-right: 21px;
    border-radius: 5px;
    background-color: #7994be;
  }

  .section-filter {
    width: 335px;
    height: 96px;
    display: flex;
    margin-top: 72px;
    margin-left: 20px;
  }

  .section-filter__nav-bar {
    width: 335px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
  }

  .section-filter__nav-item {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 13px;
    line-height: 18.15px;
    color: #232e40;
  }

  .section-filter__nav-item.active::before {
    content: "";
    position: absolute;
    bottom: -7px;
    left: -9px;
    width: 40px;
    height: 30px;
    background-color: #70bd54;
    border-radius: 3px;
    z-index: -1;
  }

  .section-addresses {
    height: 3600px;
  }

  .section-addresses__line {
    width: 375px;
    border-radius: 1px;
    border-top: 1px solid #dcdcdc;
  }

  .section-addresses__card {
    margin-top: 21px;
    margin-left: 0px;
    margin-bottom: 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }

  .section-addresses__img {
    width: 100px;
    height: 100px;
    margin-left: 20px;
    border-radius: 5px;
  }

  .section-addresses__address {
    width: 205px;
    height: 105px;
    margin-left: 20px;
  }

  .section-addresses__title {
    position: relative;
    bottom: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-size: 14px;
    line-height: 29.05px;
    color: #232e40;
  }

  .section-addresses__subtitle {
    position: relative;
    top: 5px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 12px;
    line-height: 25px;
    color: #232e40;
  }

  .section-addresses__contacts {
    margin-top: 90px;
    margin-left: 90px;
  }

  .section-addresses__phone {
    position: relative;
    left: 8px;
    bottom: 7px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.36px;
    color: #232e40;
  }

  .section-addresses__email {
    position: relative;
    left: 8px;
    top: 6px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 14px;
    line-height: 19.36px;
    color: #232e40;
  }

  .footer {
    width: 375px;
    height: 674px;
    display: flex;
    flex-direction: column;
    padding-top: 41px;
    padding-left: 20px;
  }

  .footer__line-one {
    display: block;
  }

  .footer__logo {
    display: none;
  }

  .footer__logo_mobile {
    display: block;
    width: 120px;
    height: 34px;
  }

  .footer__column-one {
    display: flex;
  }

  .footer__icon-block {
    display: flex;
    margin-top: 0px;
    margin-left: 62px;
  }

  .footer__icon-1 {
    width: 32.32px;
    height: 32.27px;
    margin-left: 1px;
  }

  .footer__icon-2 {
    width: 32.32px;
    height: 32.27px;
    margin-top: 1px;
    margin-left: 7px;
  }

  .footer__icon-3 {
    width: 32.32px;
    height: 32.27px;
    margin-top: 0px;
    margin-left: 8px;
  }

  .footer__icon-4 {
    width: 38.32px;
    height: 38.27px;
    margin-top: -2px;
    margin-left: 5px;
  }

  .footer__line_mobile {
    display: block;
    width: 335px;
    margin-bottom: 24px;
    margin-top: 28px;
    border-radius: 1px;
    border-top: 1px solid #dfdfdf;
  }

  .footer__column-two {
    display: none;
  }

  .footer__column-third {
    display: none;
  }

  .footer__contact-item_title {
    display: none;
  }

  .footer__social-item_title {
    display: none;
  }

  .footer__column-fourth {
    position: relative;
    bottom: 24px;
    left: 1px;
    margin-top: 2px;
  }

  .footer__address {
    display: none;
  }

  .footer__address_position {
    display: none;
  }

  .footer__address_mobile {
    display: block;
    position: relative;
    bottom: 20px;
    margin-left: 22px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: #5d646f;
  }

  .footer__line_mobile-1 {
    display: block;
    width: 335px;
    margin-bottom: 0px;
    margin-top: -17px;
    border-radius: 1px;
    border-top: 1px solid #dfdfdf;
  }

  .footer__line {
    display: none;
  }

  .footer__column-five {
    width: 200px;
    position: relative;
    top: 5px;
    left: 98px;
  }

  .footer__social {
    width: 200px;
  }

  .footer__social-block-qr {
    display: flex;
    margin-top: 24px;
    margin-left: -28px;
  }

  .footer__line-two {
    width: 331px;
  }

  .footer__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 53px;
    margin-left: 1px;
  }

  .footer__copyright {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    color: #9ba1ab;
  }

  .footer__links {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 11px;
    line-height: 20px;
  }

  .footer__link {
    position: relative;
    right: 0px;
    left: 1px;
    color: #9ba1ab;
  }

  .footer__link_position-2 {
    position: relative;
    left: 25px;
  }

  .footer__link_position-3 {
    position: relative;
    left: 50px;
  }

  .footer__link_position-4 {
    position: relative;
    left: 74px;
  }

  .footer__dev {
    width: 200px;
    position: relative;
    top: 15px;
    left: 75px;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 11px;
    line-height: 13.31px;
    color: #9ba1ab;
  }

  .footer__dev-icon {
    width: 105.98px;
    position: relative;
    bottom: 2px;
    left: 153px;
  }
}
